# Root directory for the OCDocker Database
ocdb = /media/artur/hd4tb/artur/OCDocker/data/ocdb

# dock6 path
dock6 = /media/artur/hd4tb/artur/OCDocker/software/docking/dock6/bin

# PLANTS and SPORES path
plants = /media/artur/hd4tb/artur/OCDocker/software/docking/plants/PLANTS1.2_64bit
spores = /media/artur/hd4tb/artur/OCDocker/software/docking/plants/SPORES_64bit

# Smina path
smina = /media/artur/hd4tb/artur/OCDocker/software/docking/smina/build/smina

# Vina path
vina = /media/artur/hd4tb/artur/OCDocker/software/docking/vina/bin/vina

# MGLTools's pythonsh path
pythonsh = /media/artur/hd4tb/artur/OCDocker/mgltools/bin/pythonsh

# prepare_ligand4 path
prepare_ligand = /media/artur/hd4tb/artur/OCDocker/mgltools/MGLToolsPckgs/AutoDockTools/Utilities24/prepare_ligand4.py

# prepare_receptor4 path
prepare_receptor = /media/artur/hd4tb/artur/OCDocker/mgltools/MGLToolsPckgs/AutoDockTools/Utilities24/prepare_receptor4.py

# Open Babel path
obabel = /home/artur/miniconda3/envs/ocdocker/bin/obabel

################# P2RANK PARAMETERS #################

# P2Rank path
prank = /media/artur/hd4tb/artur/OCDocker/software/search/p2rank_2.3/prank

# p2rank box cutoff
boxMaxCutoff = 0.5

# p2rank pocket cutoff
pocketCutoff = 0.1

############# DATABASE FETCH PARAMETERS #############

# DUDEz download link
DUDEz = https://dudez.docking.org/DOCKING_GRIDS_AND_POSES.tgz

################## VINA PARAMETERS ##################

# Maximum energy difference between the best binding mode and the worst one displayed (kcal/mol)
vina_energy_range = 10

# Exhaustiveness of the global search
vina_exhaustiveness = 5

# Maximum number of binding modes to generate
vina_num_modes = 3

################# SMINA PARAMETERS ##################

# Maximum energy difference between the best binding mode and the worst one displayed (kcal/mol)
smina_energy_range = 10

# Exhaustiveness of the global search
smina_exhaustiveness = 5

# Maximum number of binding modes to generate
smina_num_modes = 3

# Alternativa scoring function
smina_scoring = vinardo

# Custom scoring file
smina_custom_scoring = no

# Custom atoms
smina_custom_atoms = no

# Local search only using autobox (you probably want to use --minimize)
smina_local_only = no

# Energy minimization
smina_minimize = no

# Generate random poses, attempting to avoid clashes
smina_randomize_only = no

# Number iterations of steepest descent; default scales with rotors and usually isn't sufficient for convergence
smina_minimize_iters = 0

# Stop minimization before convergence conditions are fully met
smina_minimize_early_term = no

# Use accurate line search
smina_accurate_line = yes

# Approximation (linear, spline, or exact) to use
smina_approximation = spline

# Approximation factor: higher results in a finer-grained approximation
smina_factor = 32

# Max allowed force; lower values more gently minimize clashing structures
smina_force_cap = 10

# Autodock map file for user grid data based calculations
smina_user_grid = no

# Scales user_grid and functional scoring
smina_user_grid_lambda = -1

################# PLANTS PARAMETERS ##################

# Number of cluster structures
plants_cluster_structures = 10

# RMSD value for plants
plants_cluster_rmsd = 2.0

# Search speed
plants_search_speed = speed1

################# DOCK6 PARAMETERS ##################

# Path to the vdw defn file
dock6_vdw_defn_file = /media/artur/hd4tb/artur/OCDocker/software/docking/dock6/vdw_AMBER_parm99.defn

# Path to the flex defn file
dock6_flex_defn_file = /media/artur/hd4tb/artur/OCDocker/software/docking/dock6/flex.defn

# Path to the flex drive file
dock6_flex_drive_file = /media/artur/hd4tb/artur/OCDocker/software/docking/dock6/flex_drive.tbl

################## OTHER SOFTWARE ###################

# MSMS program for the surface calculation
dssp = /usr/bin/dssp
