
# Root directory for the OCDocker Database
ocdb = /mnt/d/Documents/OCDocker/OCDocker/data/ocdb

# dock6 path
dock6 = /mnt/d/Documents/OCDocker/software/docking/dock6/bin/dock6

# PLANTS path
plants = /mnt/d/Documents/OCDocker/software/docking/plants/PLANTS1.2_64bit

# Smina path
smina = /mnt/d/Documents/OCDocker/software/docking/smina/build/smina

# Vina path
vina = /usr/bin/vina

# MGLTools's pythonsh path
pythonsh = /mnt/d/Documents/OCDocker/OCDocker/mgltools/bin/pythonsh

# prepare_ligand4 path
prepare_ligand = /home/ligmol/MGLTools-1.5.7/MGLToolsPckgs/AutoDockTools/Utilities24/prepare_ligand4.py

# prepare_receptor4 path
prepare_receptor = /home/ligmol/MGLTools-1.5.7/MGLToolsPckgs/AutoDockTools/Utilities24/prepare_receptor4.py

# Open Babel path
obabel = /usr/bin/obabel

# P2Rank path
prank = /mnt/d/Documents/OCDocker/software/search/p2rank_2.3/prank

############# DATABASE FETCH PARAMETERS #############

# DUDEz download link
DUDEz = https://dudez.docking.org/DOCKING_GRIDS_AND_POSES.tgz

################## VINA PARAMETERS ##################

# Maximum energy difference between the best binding mode and the worst one displayed (kcal/mol)
energy_range = 10

# Exhaustiveness of the global search
exhaustiveness = 5

# Maximum number of binding modes to generate
num_modes = 3
